@model R2V2.Web.Areas.Admin.Models.SubscriptionManagement.AdminUserSubscription


<div class="content modal alert" id="modelItem-@Model.Id">
    <div class="modal-header">
        <h1>Edit Subscription</h1>
        <a class="close" data-dismiss="modal" href="#">Close</a>
    </div>

    <div class="modal-body" style="font-size: .85em;">
        <h2>@Model.Name</h2>
        <div style="margin: 15px 30px 0;">
            <ul>
                <li>Trial Expiration Date: Free Access to the subscription until this date. Set automatically when the user begins the purchase process.)</li>
                <li>Activation Date: Paid Access to the subscription started on this date. Should be set once payment is received. Trial Expiration is ignored once this is set.</li>
                <li>Expiration Date: The date at which the subscription will expire. This is not required, but if set access will be revoked after this date.</li>
            </ul>
        </div>
        @using (Html.BeginForm("UserSubscription", "SubscriptionManagement"))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.UserId)
            <table style="font-size: 1em;">
                <tbody>
                    <tr>
                        <td><strong>@Html.LabelFor(model => model.TrialExpirationDate)</strong></td>
                        <td class="field">@Html.TextBoxFor(model => model.TrialExpirationDate, "{0:MM/dd/yyyy}")</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.LabelFor(model => model.ActivationDate)</strong></td>
                        <td class="field">@Html.TextBoxFor(model => model.ActivationDate, "{0:MM/dd/yyyy}")</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.LabelFor(model => model.ExpirationDate)</strong></td>
                        <td class="field">@Html.TextBoxFor(model => model.ExpirationDate, "{0:MM/dd/yyyy}")</td>
                    </tr>
                </tbody>
            </table>

            <div class="group-actions-wrapper" style="margin-top: 25px;">
                <div class="clearfix group-actions">
                    <ul class="actions">
                        <li><a class="btn btn-medium" href="#" data-dismiss="modal"><span>Cancel</span></a></li>
                        <li><button class="btn-medium" type="submit"><span>Save</span></button></li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

