@model R2V2.Web.Models.AuthorSummaries

@if (Model != null && Model.Authors != null && Model.Authors.Any())
{
    <div id="author" class="clearfix columns three-columns" data-history="bookmark">
        <div class="column">
            <h2 class="header-alpha-group">A - H</h2>
            <ul class="alpha-group">
                @foreach (var author in Model.Authors.Where(x => x.Name.Length > 0 && x.Name.ToUpper()[0] >= 'A' && x.Name.ToUpper()[0] <= 'H'))
                {
                    if (author != null && !string.IsNullOrWhiteSpace(author.Name))
                    {
                        <li><a href="#@author.Name">@author.Name</a> (@author.ResourceCount)</li>
                    }
                }
            </ul>
        </div>
        <div class="column">
            <h2 class="header-alpha-group">I - O</h2>
            <ul class="alpha-group">
                @foreach (var author in Model.Authors.Where(x => x.Name.Length > 0 && x.Name.ToUpper()[0] >= 'I' && x.Name.ToUpper()[0] <= 'O'))
                {
                    if (author != null && !string.IsNullOrWhiteSpace(author.Name))
                    {
                        <li><a href="#@author.Name">@author.Name</a> (@author.ResourceCount)</li>
                    }
                }
            </ul>
        </div>
        <div class="column">
            <h2 class="header-alpha-group">P - Z</h2>
            <ul class="alpha-group">
                @foreach (var author in Model.Authors.Where(x => x.Name.Length > 0 && x.Name.ToUpper()[0] >= 'P' && x.Name.ToUpper()[0] <= 'Z'))
                {
                    if (author != null && !string.IsNullOrWhiteSpace(author.Name))
                    {
                        <li><a href="#@author.Name">@author.Name</a> (@author.ResourceCount)</li>
                    }
                }
            </ul>
        </div>
    </div>
}