@model R2V2.Web.Models.IR2V2Model

<footer role="contentinfo">
    <div class="nav-footer" role="navigation">
        <ul>
            <li><a href="@Url.Action("About", "Home", new { Area = "" })">About R2</a></li>
            <li><a href="@Url.Action("Faqs", "Home", new { Area = "" })">FAQs</a></li>
            <li><a href="/_Static/Downloads/r2-library-user-guide.pdf" class="icon pdf-file" target="_blank" data-toggle="window">User Guide</a></li>
            @if(Model.DisplayAskYourLibrarian)
            {
                <li><a href="@Url.Action("AskYourLibrarian", "Contact", new { Area = "" })">Ask Your Librarian</a></li>
            }
        </ul>
    </div>

    <p>&copy; @Model.Footer.CopyrightText</p>

    <div class="nav-legal" role="navigation">
        <ul>
            <li><a href="@Url.Action("PrivacyPolicy", "Home", new { Area = "" })">Privacy Policy</a></li>
            <li><a href="@Url.Action("CopyrightPolicy", "Home" , new { Area="" })">Copyright Policy</a></li>
            <li><a href="/_Static/Downloads/r2-library-VPATv2.3-10.19.pdf" class="icon pdf-file" target="_blank" data-toggle="window">VPAT<sup>&reg;</sup></a></li>
            <li><a href="@Url.Action("Index", "Contact", new {Area = ""})">Contact Us</a></li>

            @if (Model.DisplayConfigurationLink)
            {
                <li><a href="@Url.Action("Index", "Configuration", new {Area = "Admin"})">Configuration Area</a></li>
                <li><a href="@Url.Action("Index", "Testing", new {Area = "Admin"})">Testing</a></li>
            }

        </ul>
    </div>
    <div class="machine-name">@Model.DebugInformation</div>
</footer>