@using R2V2.Core.Resource
@using R2V2.Web
@model R2V2.Web.Models.Resource.ResourceDetail
           
<div id="content" class="content" role="main">
    <h1>@Model.Title
        <span>@Model.SubTitle</span>
        @if(!Model.IsEmailResource)
        {
            <span class="content-provider">
                @Html.Raw(Model.ContentProviderDisplay())
            </span>
        }
        
        
        @if (Model.IsArchive)
        {
            <a href="" class="access-info resource-archived" rel="tooltip" title="@Resources.TitleArchivedTooltip">@Resources.TitleArchived</a>
        }
    </h1>
    @if(Model.IsEmailResource)
    {
        <div class="content-provider">
            @Html.Raw(Model.ContentProviderDisplay())
        </div>
    }
    <div id="resource-content">
        <div class="clearfix resource-detail">
            <div class="resource-cover">
                <img src="@Model.ImageUrl" alt="Image of the book cover for '@Model.Title'" />
                        
                @Html.Partial("_Tooltips", Model)
                
                @Html.Partial("_ExternalReviews", Model)
            </div>

	        <div class="resource-info resource-info-public">
		        <div class="clearfix columns two-columns-50-40">
			        <div class="column">
				        <strong>Author:</strong> @Model.Authors<br />
				        <strong>Affiliation:</strong> @Model.Affiliation<br />
				        <strong>Publisher:</strong> @Model.Publisher<br />
				        @if (Model.PublicationDate != null)
				        {
					        <strong>Publication Date:</strong> @Model.PublicationDate.Value.Year<br />
						}
				        <strong>ISBN 10:</strong> @Model.Isbn10<br />
				        <strong>ISBN 13:</strong> @Model.Isbn13<br/>
				        @if (Model.EIsbn != null)
				        {
					        <strong>eISBN:</strong> @Model.EIsbn<br/>
				        }
				        <strong>Edition:</strong> @Model.Edition
			        </div>
			        <div class="column resource-public-right-column">
				        <nav id="nav-main" style="text-align: center">
					        @if (!Model.IsArchive)
							{
								if (Model.IsInstitutionAdmin)
								{
									<a href="@Url.Action("List", "CollectionManagement", new {institutionId = 0, query = Model.Isbn})" class="resource-public-button"><span>Purchase this eBook</span></a>
								}
								else
								{
									<a href="@Url.Action("MyAdministrators", "Contact", new {isbn = Model.Isbn})" class="resource-public-button"><span>Suggest for Purchase</span></a>
								}
							}
				        </nav>
				        @if (Model.TurnawayMessage != null && Model.IsPdaResource && !Model.IsFullTextAvailable)
				        {
					        <div class="resource-public-description">@Html.Raw(Model.TurnawayMessage)</div>
				        }
			        </div>
			        
		        </div>

		        @*<h2>Description:</h2>
                <p>@Model.Description</p>*@
	        </div>


	        <div class="resource-public-header" style="margin-top: 10px;">Description:</div>
            <div class="resource-public-description"><div class="richText">@Html.Raw(Model.Description)</div></div>
        </div>

        <div class="clearfix twocol-with-sidebar">
            <div class="sectionheader">
                <h2>Table of Contents</h2>
            </div>

            <div class="subcontent">
                @Html.Raw(Model.Toc)
            </div>
                    
            @if (Model.Topics != null && Model.Topics.Any())
            {
                <div class="sidebar">
                    <div class="sidebarmodule"><div class="sidebarmoduleinner">
                        <h2>Topics within this title:</h2>
                        <ul>
                            @foreach (var topic in Model.Topics)
                            {
                                if (Model.ResourceAccess != ResourceAccess.Allowed)
                                {
                                    <li>@topic</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink(topic, "Index", "Search", "http", null, "within=" + Model.Isbn, new { q = topic }, null)</li>
                                }
                            }
                        </ul>
                    </div></div>
                </div>
            }
        </div>
    </div>
</div>
