@model R2V2.Web.Areas.Admin.Models.Cart.BulkAddToCart
@{
	ViewBag.Title = "PDA Add";
	ViewBag.BodyCssClass = "admin cm-modal-base recommend";
	Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="content collection-manage">
    <div class="modal-header">
        <h1>Bulk Recommendations Added</h1>
        <a class="close" href="@Model.KeepShoppingLink" data-dismiss="navigation">Close</a>
    </div>
            
    <div class="modal-body">
		<div id="bulk-add-area">		
			<h3>A Recommendation has been added for the following resources:</h3>
			<ul>		
			@foreach (var resource in Model.Resources)
			{
				<li>@resource.Title, ISBN: @resource.Isbn13</li>
			}
			</ul>
			<p><strong>Resource Count: @Html.DisplayFor(model => model.ResourceCount)</strong></p>
		</div>
		<div class="actions">
			<a href="@Model.CollectionLink" class="btn btn-medium" data-dismiss="navigation"><span>View My Recommendations</span></a>
			<a href="@Model.KeepShoppingLink" class="btn btn-medium" data-dismiss="navigation"><span>Back to List</span></a>
		</div>
    </div>
</div>

@section JsDocumentReady
{
    new R2V2.Admin.IFrameModal({
        parent: window.parent,
        $dismiss: $('a[data-dismiss="navigation"]')
    });
}