@model R2V2.Web.Areas.Admin.Models.Report.CounterBookAccessDeniedDetail
<div class="group-actions-wrapper">
    <div class="clearfix group-actions">
        <p class="header">
            Denied Section Requests for @Html.Raw(Model.CounterBookAccessDeniedRequests.ReportRequest.DateRangeStart.ToShortDateString())
            to @Html.Raw(Model.CounterBookAccessDeniedRequests.ReportRequest.DateRangeEnd.ToShortDateString())</p>
    </div>
</div>
<div class="tablecontent counter-scroll">
    <table class="list" >
        <thead>
            <tr>
                <th>ISBN</th>
                <th class="counter-total">Total</th>
                <th class="counter-type">Metric Type</th>
                @foreach (var item in Model.CounterBookAccessDeniedRequests.CounterBookAccessDeniedResources[0].AccessTurnawayPeriods)
                {                            
                    <th>@Html.Raw(item.ShortMonth())-@Html.Raw(item.Year.ToString())</th>
                }
            </tr>
        </thead>
        <tr>
            <td>All</td>
            <td><b>@Html.Raw(Model.AccessTotal().ToString())</b></td>
            <td>No License</td>
            @foreach (var hit in Model.AccessTotalList)
            {
                <td><b>@Html.DisplayFor(x => hit)</b></td>
            }
        </tr>
        <tr>
            <td>All</td>
            <td><b>@Html.Raw(Model.ConcurrencyTotal().ToString())</b></td>
            <td>Limit Exceeded</td>
            @foreach (var hit in Model.ConcurrencyTotalList)
            {
                <td><b>@Html.DisplayFor(x => hit)</b></td>   
            }
        </tr>

        @foreach(var item in Model.CounterBookAccessDeniedRequests.CounterBookAccessDeniedResources)
        {
            <tr>
                <td id="hover-wrapper" rowspan="2">
                    @Html.DisplayFor(x => item.Isbn13)
                    @if (!Model.IsEmailMode)
                    {
                        <div class="hover-parent" >
                            <div class="hover-child titleitem">
                                <ul>
                                    <li>@Html.LabelFor(x => item.Title)@Html.DisplayFor(x => item.Title)</li>
                                    <li>@Html.LabelFor(x => item.Isbn10) @Html.DisplayFor(x => item.Isbn10)</li>
                                    <li>@Html.LabelFor(x => item.Publisher) @Html.DisplayFor(x => item.Publisher)</li>
                                </ul>
                            </div>
                        </div>
                    }                    
                </td>
                <td><b>@Html.Raw(item.AccessTurnawayPeriods.Sum(x=> x.HitCount).ToString())</b></td>
                <td>No License</td>
                @foreach(var hit in item.AccessTurnawayPeriods)
                {
                    <td>@Html.DisplayFor(x=> hit.HitCount)</td>   
                }
            </tr>
            <tr>
                <td><b>@Html.Raw(item.ConcurrencyTurnawayPeriods.Sum(x => x.HitCount).ToString())</b></td>
                <td>Limit Exceeded</td>
                @foreach(var hit in item.ConcurrencyTurnawayPeriods)
                {
                    <td>@Html.DisplayFor(x=> hit.HitCount)</td>   
                }
            </tr>
        }
    </table>
</div>