@model R2V2.Web.Areas.Admin.Models.Cart.BulkAddToCart
@{
	ViewBag.Title = "PDA Add";
	ViewBag.BodyCssClass = "admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Tabs")

@Html.Partial("ActionsMenus/_ActionsMenu", Model.ActionsMenu)

<div class="clearfix twocol-with-subnav contentcontainer">
    <div id="content" class="content collection-manage" role="main">
        <h1>Bulk Added Titles to Cart</h1>
        <p><strong>Resource Count: @Html.DisplayFor(model => model.ResourceCount)</strong></p>
        <div class="express-checkout-scroll">
            <h3>A single license has been added to the cart for each of the following resources:</h3>
            
            <ul>		
                @foreach (var resource in Model.Resources)
                {
                    <li>@resource.Title, ISBN: @resource.Isbn13</li>
                }
            </ul>

            
        </div>
        <div class="actions">
            <a href="@Model.CollectionLink" class="btn btn-medium" data-dismiss="navigation"><span>View My R2 Collection</span></a>
			<a href="@Model.KeepShoppingLink" class="btn btn-medium" data-dismiss="navigation"><span>Keep Shopping</span></a>
			<a href="@Model.CartLink" class="btn btn-medium" data-dismiss="navigation"><span>Shopping Cart</span></a>
        </div>
    </div>

    @Html.Partial("_LeftNav", Model)	
	
</div>

@section JsDocumentReady
{
    new R2V2.Admin.LeftNav({ $container: $('.admin-left-nav') });
}