@model R2V2.Web.Areas.Admin.Models.Marketing.RequestedResourcesModel

@{
    ViewBag.Title = "Request Access Report";
    ViewBag.BodyCssClass = "admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Tabs")

@Html.Partial("ActionsMenus/_ActionsMenu", Model.ActionsMenu)


<div class="clearfix twocol-with-subnav contentcontainer">
    <div id="content" class="content" role="main">
        <h1>Request Access Report</h1>
        <div id="report-filters" class="tablecontent" style="padding: 0 10px">
            <form action="" method="post">
                <table class="edit">
                    @Html.Partial("_MarketingPeriod", Model.ReportQuery)
                    <tr>
                        <td class="label">@Html.LabelFor(model => model.InstitutionTypeSelectList)</td>
                        <td class="field">@Html.ListBoxFor(x => x.ReportQuery.InstitutionTypeIds, Model.InstitutionTypeSelectList, new {multiple = "multiple", style = "height: 75px;"})</td>
                    </tr>
                    <tr>
                        <td class="label">@Html.LabelFor(model => model.TerritorySelectList)</td>
                        <td class="field">@Html.ListBoxFor(x => x.ReportQuery.TerritoryCodes, Model.TerritorySelectList, new {multiple = "multiple", style = "height: 75px;"})</td>
                    </tr>
                    <tr>
                        <td class="label">Included Account Numbers: </td>
                        <td class="field">
                            @Html.TextAreaFor(x => x.ReportQuery.AccountNumberBatch, new {cols = 35, @rows = 3, placeholder = "Account Numbers only seperated by a comma , this is NOT required"})
                            @Html.ValidationMessageFor(x => x.ReportQuery.AccountNumberBatch)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="actions">
                            <button class="btn-medium" type="submit" value="RunReport" name="action:RunReport"><span>Run Report</span></button>
                        </td>
                    </tr>
                </table>
                <button class="btn-medium" style="display: none;" type="submit" value="ExportRequestAccess" name="action:ExportRequestAccess"><span>Excel Export</span></button>
            </form>
        </div>
        @if (Model.RequestedResourcesInstitutions != null && Model.RequestedResourcesInstitutions.Any())
        {
            <div class="tablecontent">
                <table class="list" id="table-for-select">
                    <thead>

                    <tr>
                        <th>Account #</th>
                        <th>Institution Details</th>
                        <th>Requested</th>
                        <th>Purchased</th>
                        <th>Price</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr style="font-weight: bold">
                        <td>Totals: </td>
                        <td style="text-align: left">@Html.Raw(Model.RequestedResourcesInstitutions.Count.ToString())</td>
                        <td style="text-align: left">@Html.DisplayFor(x => Model.RequestedResourceCount)</td>
                        <td style="text-align: left">@Html.DisplayFor(x => Model.PurchasedRequestedResourceCount)</td>
                        <td style="text-align: left">@Html.DisplayFor(x => Model.TotalPurchasedPrice)</td>
                    </tr>
                    @foreach (var item in Model.RequestedResourcesInstitutions)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => item.Institution.AccountNumber)</td>
                            <td>
                                <a rel="tooltip" id="Institution-@item.Institution.InstitutionId" title="@Html.Raw(Model.GetToolTip(item.Institution.Address))" style="font-weight: bold">@item.Institution.InstitutionName</a>
                                <br/>
                                @if (item.Institution.InstitutionType != null)
                                {
                                    <span style="font-weight: normal; font-size: .95em">Institution Type: <b>@item.Institution.InstitutionType.Name</b></span>
                                }

                                @if (item.Institution.InstitutionTerritory != null)
                                {
                                    <span style="font-weight: normal; font-size: .95em">&nbsp;&nbsp;Territory: <b>@item.Institution.InstitutionTerritory.Name</b></span>
                                }
                            </td>
                            <td>@Html.DisplayFor(x => item.ResourceCount)</td>
                            <td>@Html.DisplayFor(x => item.PurchasedResourceCount)</td>
                            <td>@Html.DisplayFor(x => item.TotalPurchasedPrice)</td>
                        </tr>
                        <tr style="display: none">
                            <td>&nbsp;</td>
                            <td colspan="4" style="width: 600px">
                                <div>
                                    @foreach (var subItem in item.RequestedResources)
                                    {
                                        <div style="display: block;">
                                            <div style="float: left; padding-bottom: 20px; width:100%">
                                                <div style="float: left;">
                                                    <div style="float: left; max-width: 450px;">
                                                        <b>@Html.DisplayFor(x => subItem.Resource.Title)</b>
                                                    </div>
                                                    <br/>
                                                    <div style="float: left;">@Html.DisplayFor(x => subItem.Resource.Isbn)<br />@Html.DisplayFor(x => subItem.Resource.Isbn13)</div>

                                                    <div style="float: left;padding-left: 20px;">Requested Count: @Html.DisplayFor(x => subItem.RequestedCount)</div>
                                                    <div style="float: left;padding-left: 30px;">Last Requested: @Html.Raw(string.Format("{0:MM/dd/yyyy}", subItem.LastRequestDate.GetValueOrDefault()))</div>
                                                </div>
                                            
                                                <div style="float: right; width: 25%; text-align: right;">
                                                    @if (subItem.OrderHistoryId.HasValue && subItem.PurchaseDate.HasValue)
                                                    {
                                                        <div style="float: left">
                                                            Order History:
                                                            <br/>
                                                            Purchased Price:
                                                        </div>
                                                        <div style="float: right; text-align: left;">
                                                            <a href="@Url.Action("Detail", "OrderHistory", new {institutionId = item.Institution.InstitutionId, id = subItem.OrderHistoryId.Value})">@Html.Raw(string.Format("{0:MM/dd/yyyy}", subItem.PurchaseDate.Value))</a>
                                                            <br/>
                                                            @Html.DisplayFor(x => subItem.PurchasePrice)
                                                            
                                                        </div>
                                                    }
                                                    else if (subItem.CartId.HasValue && subItem.AddedDate.HasValue)
                                                    {
                                                        <div style="float: left;width: 94px;">
                                                            Cart:
                                                        </div>
                                                        <div style="float: right; text-align: left; ">
                                                            <a href="@Url.Action("ShoppingCart", "Cart", new {institutionId = item.Institution.InstitutionId, cartId = subItem.CartId.Value})">@Html.Raw(string.Format("{0:MM/dd/yyyy}", subItem.AddedDate.Value))</a>
                                                        </div>
                                                    }
                                                </div>
                                                @if (subItem.AutomatedCartIdAndNames != null && subItem.AutomatedCartIdAndNames.Any())
                                                {
                                                    <div style="float: right;">
                                                        @foreach (var automatedCartIdAndName in subItem.AutomatedCartIdAndNames)
                                                        {
                                                            <a href="@Url.Action("AutomatedCartHistory", "Marketing", new {AutomatedCartId = automatedCartIdAndName.Key})">@automatedCartIdAndName.Value</a>
                                                            <br />
                                                        }
                                                        
                                                    </div>
                                                }

                                            </div>
                                            
                                        </div>
                                        @*<br/>
                                        <br/>
                                        <br/>*@
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                        <tr style="font-weight: bold">
                            <th style="text-align: left">Totals: </th>
                            <th style="text-align: left">@Html.Raw(Model.RequestedResourcesInstitutions.Count.ToString())</th>
                            <th style="text-align: left">@Html.DisplayFor(x => Model.RequestedResourceCount)</th>
                            <th style="text-align: left">@Html.DisplayFor(x => Model.PurchasedRequestedResourceCount)</th>
                            <th style="text-align: left">@Html.DisplayFor(x => Model.TotalPurchasedPrice)</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
    </div>
    @Html.Partial("_LeftNav", Model)
</div>
@section JsDocumentReady
{
    new R2V2.Admin.ActionsMenu({ $container: $('.actions-menu') });
    new R2V2.Admin.Marketing.ActionsMenu({ $container: $('.actions-menu'), $linkExport: $('.actions-menu').find('a.export'), $exportButton: $('#content').find('button[value="ExportRequestAccess"]')});
    new R2V2.Admin.ToggleOptionalFields({ $container: $('#filter-date-range'), $trigger: $('#ReportQuery_Period'), action: 'change', triggerValue: 'UserSpecified' });
    new R2V2.Admin.DatePicker({$dateTextBox: $('#filter-date-range .input-daterange'), $startDate: "01/01/2018"});
    new R2V2.Admin.LeftNav({ $container: $('.admin-left-nav') });

    $(document).ready(function() { 
        $("[id^=Institution-]").click(function() { 
            $(this).closest("tr").next().toggle();
            return false;
        });
    });
}