@model R2V2.Web.Areas.Admin.Models.PublisherConsolidation.Publisher

<div class="tablecontent">
    <table class="edit">
        <tr>
            <td class="label">@Html.LabelFor(model => model.Name)</td>
            <td class="field">
                @Html.TextBoxFor(x => x.Name, new { @class = "input-full" })
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td class="label">@Html.LabelFor(model => model.VendorNumber)</td>
            <td class="field">
                @Html.TextBoxFor(x => x.VendorNumber)
                @Html.ValidationMessageFor(model => model.VendorNumber)
            </td>
        </tr>
        <tr>
            <td class="label">@Html.LabelFor(model => model.City)</td>
            <td class="field">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </td>
        </tr>
        <tr>
            <td class="label">@Html.LabelFor(model => model.State)</td>
            <td class="field">
                @Html.EditorFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State)
            </td>
        </tr>
    </table>
</div>