@model R2V2.Web.Areas.Admin.Models.WebServiceAuthentication.InstitutionWebServiceAuthenticationDetail
@{
    ViewBag.Title = "Institution Trusted Authentication";
    ViewBag.BodyCssClass = "admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Tabs")

@Html.Partial("ActionsMenus/_ActionsMenu", Model.ActionsMenu)

<div class="clearfix twocol-with-subnav contentcontainer">
    <div id="content" class="content" role="main">
        <h1>Trusted Authentication Service</h1>
        
        @Html.Partial("_InstitutionInfo")
        
        <div class="group-actions-wrapper">
            <div class="clearfix group-actions" data-implement="fixed">
                <ul class="actions">
                </ul>
            </div>
        </div>
        <div class="tablecontent">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.InstitutionId)
                @Html.Partial("_Edit", Model)
            }
        </div>
    </div>

    @Html.Partial("_LeftNav", Model)
</div>

@section JsDocumentReady
{
    new R2V2.Admin.ActionsMenu({ $container: $('.actions-menu') });
    new R2V2.Admin.LeftNav({ $container: $('.admin-left-nav') });
}