@using R2V2.Web.Areas.Admin.Models
@model R2V2.Web.Areas.Admin.Models.Dashboard.DashboardModel

@{
    ViewBag.Title = "Dashboard";
    ViewBag.BodyCssClass = "admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Tabs")

@Html.Partial("ActionsMenus/_ActionsMenu", Model.ActionsMenu)

<div class="clearfix twocol-with-subnav contentcontainer">
    <div id="dashboard" class="content" role="main">

        @using (Html.BeginForm("EbookCollection", "Dashboard", null, FormMethod.Post))
        {
            @Html.HiddenFor(model => model.InstitutionId)
            @Html.Partial("_DashboardPeriod")
        }



        <section id="dashboard-quickNotes">
            <ul>
                @foreach (var item in Model.QuickNotes)
                {
                    <li>
                        @Html.Raw(item)
                    </li>
                }
            </ul>
        </section>




        <section id="dashboard-booklist">
            @if (Model.PurchasedList != null && Model.PurchasedList.Any())
            {
                <div class="spotlightGroup">
                    <h3>Purchased Titles</h3>
                    <h5>@Model.GetDateSelectorString(Model.Period)</h5>

                    @foreach (var item in Model.PurchasedList)
                    {
                        @Html.Partial("_DashboardResource", item)
                    }
                    <a class="viewMore" href="@Url.Action("List", "CollectionManagement", Model.PurchasedList.FirstOrDefault().ToRouteValues("Purchased"))">View More</a>
                </div>
            }
            @if (Model.ArchivedList != null && Model.ArchivedList.Any())
            {
                <div class="spotlightGroup">
                    <h3>Purchased Titles Archived</h3>
                    <h5>@Model.GetDateSelectorString(Model.Period)</h5>

                    @foreach (var item in Model.ArchivedList)
                    {
                        @Html.Partial("_DashboardResource", item)
                    }
                    <a class="viewMore" href="@Url.Action("List", "CollectionManagement", Model.ArchivedList.FirstOrDefault().ToRouteValues("Archived"))">View More</a>
                </div>
            }

            @if (Model.NewEditionPurchasedList != null && Model.NewEditionPurchasedList.Any())
            {
                <div class="spotlightGroup">
                    <h3>New Editions of Purchased Titles</h3>
                    <h5>@Model.GetDateSelectorString(Model.Period)</h5>

                    @foreach (var item in Model.NewEditionPurchasedList)
                    {
                        @Html.Partial("_DashboardResource", item)
                    }
                    <a class="viewMore" href="@Url.Action("List", "CollectionManagement", Model.NewEditionPurchasedList.FirstOrDefault().ToRouteValues("NewEditionPurchased"))">View More</a>
                </div>
            }
            @if (Model.EbookShowNoResourceText())
            {
                if (Model.ShowNoEbookCollectionText)
                {
                    <p>No titles purchased. </p>
                }
                else
                {
                    <p>No activity with your Ebook collection has been found for the selected time period.</p>
                }
            }
        </section>








    </div>

    @Html.Partial("_LeftNav", Model)
</div>
@section JsDocumentReady
{
    new R2V2.Admin.ActionsMenu({ $container: $('.actions-menu') });
    new R2V2.Admin.ToggleOptionalFields({ $container: $('#filter-date-range'), $trigger: $('#Period'), action: 'change', triggerValue: 'UserSpecified' });
    new R2V2.Admin.LeftNav({ $container: $('.admin-left-nav') });

    $('#filter-date-range .input-daterange').datepicker({
        format: "mm/yyyy",
        startDate: "@Model.DateRangeMin()",
        endDate: "@Model.DateRangeMax()",
        minViewMode: 1,
        autoclose: true,
        hideIfNoPrevNext: true,
    });
}