@using R2V2.Web.Areas.Admin.Models
@using R2V2.Web.Helpers

@model R2V2.Web.Areas.Admin.Models.Resource.ResourceEdit
@{
    ViewBag.Title = "Resource Edit";
    ViewBag.BodyCssClass = "admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Tabs")

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="fullcol contentcontainer">
        <div id="content" class="content" role="main">
        @if(Model.Resource.Id == 0)
        {
            <h1>New Resource</h1>
        }
        else
        {
            <h1>@Model.Resource.Title</h1>
        }
            

            <div class="group-actions-wrapper"><div class="clearfix group-actions" data-implement="fixed">
                <ul class="actions">
                    <li><button id="save" class="btn-medium" type="submit"><span>Save</span></button></li>
                    @if (Model.Resource.Id == 0)
                    {
                        <li><a href="@Url.Action("List", Model.ResourceQuery.ToRouteValues())" class="btn btn-medium"><span>Cancel</span></a></li>    
                    }
                    else
                    {
                        <li><a href="@Url.Action("Detail", Model.ResourceQuery.ToRouteValues())" class="btn btn-medium"><span>Cancel</span></a></li>
                    }
                    
                </ul>
            </div></div>
            
            <div class="tablecontent">
                @Html.HiddenFor(x => x.ResourceQuery.Query)
                @Html.HiddenFor(x => x.ResourceQuery.SortBy)
                @Html.HiddenFor(x => x.ResourceQuery.SortDirection)
                @Html.HiddenFor(x => x.ResourceQuery.Page)
                @Html.HiddenFor(x => x.ResourceQuery.PageSize)
                @Html.HiddenFor(x => x.ResourceQuery.ResourceStatus)
                @Html.HiddenFor(x => x.ResourceQuery.ResourceFilterType)
                @Html.HiddenFor(x => x.ResourceQuery.ResourceId)
                @Html.HiddenFor(x => x.Resource.ImageFileName)
                @Html.HiddenFor(x => x.Resource.Isbn)
                @Html.HiddenFor(x => x.Resource.Id)

                <table class="edit">
                    <tbody>
                        <tr>
                            <td class="label">Resource Cover:</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <div class="title-image"><img src="@Model.Resource.ImageUrl" alt="Image of the book cover for '@Model.Resource.Title'" /></div>
                                        </td>
                                        <td>
                                            <div class="title-image-upload">
                                                @Html.ValidationMessageFor(model => model.Resource.ImageUrl)
                                                <h3>Required image specifications:</h3>
                                                <ul class="clearfix">
                                                    <li><strong>Format:</strong> Transparent PNG, JPG or GIF</li>
                                                    <li><strong>Maximum width:</strong> <span>@Model.BookCoverMaxWidth</span>px</li>
                                                    <li><strong>Maximum height:</strong> <span>@Model.BookCoverMaxHeight</span>px</li>
                                                </ul>
                                                <input type="file" name="file" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.Title)</td>
                            <td class="field">
                                @Html.TextBoxCustom(x => x.Resource.Title, "input-full", Model.IsEditable("Title"))
                                @Html.ValidationMessageFor(model => model.Resource.Title)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.Subtitle)</td>
                            <td class="field">@Html.TextBoxCustom(x => x.Resource.Subtitle, "input-full")</td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.ResourceStatusSelectList)</td>
                            @if (Model.Resource.Id == 0 && Model.Resource.StatusId == 8)
                            {
                                <td class="field" >@Html.DropDownListFor(model => model.Resource.StatusId, Model.ResourceStatusSelectList, new { disabled = "disabled" })</td>
                            }
                            else
                            {
                                <td class="field">@Html.DropDownListFor(model => model.Resource.StatusId, Model.ResourceStatusSelectList)</td>
                            }
                            
                            @Html.HiddenFor(x => x.Resource.StatusId)
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.DueDate)</td>
                            <td class="field">@Html.TextBoxCustom(x => x.Resource.DueDate, Model.IsEditable("DueDate"))</td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.ReleaseDate)</td>
                            <td class="field">@Html.EditorFor(x => x.Resource.ReleaseDate) @Html.ValidationMessageFor(x=> x.Resource.ReleaseDate)</td>
                        </tr>
                        @if (Model.DisplayPromotionFields)
                        {
                            <tr>
                                <td class="label">@Html.LabelFor(x => x.Resource.LastPromotionDate)</td>
                                <td class="field">@Html.DisplayTextFor(x => x.Resource.LastPromotionDate)</td>
                            </tr>
                            <tr>
                                <td class="label">@Html.LabelFor(x => x.QaApproval)</td>
                                <td class="field">
                                    @Html.EditorFor(x => x.QaApproval)
                                    @Html.ValidationMessageFor(x => x.QaApproval)
                                    @Html.DisplayFor(x => x.Resource.QaApprovalDate)
                                </td>
                            </tr>
                        }
                        @Html.HiddenFor(x => x.Resource.FeaturedTitleId)
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.IsFeaturedTitle)</td>
                            <td class="field">
                                @Html.EditorFor(x => x.Resource.IsFeaturedTitle)
                                @Html.LabelFor(x => x.Resource.FeaturedTitleStartDate)
                                @Html.EditorFor(x => x.Resource.FeaturedTitleStartDate) @Html.ValidationMessageFor(x=>x.Resource.FeaturedTitleStartDate)
                                @Html.LabelFor(x => x.Resource.FeaturedTitleEndDate)
                                @Html.EditorFor(x => x.Resource.FeaturedTitleEndDate) @Html.ValidationMessageFor(x=>x.Resource.FeaturedTitleEndDate)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(model => model.Resource.IsDrugMonograph)</td>
                            <td class="field">
                                <ul>
                                    <li>Yes @Html.RadioButtonFor(x => x.Resource.IsDrugMonograph, 1)</li>
                                    <li>No @Html.RadioButtonFor(x => x.Resource.IsDrugMonograph, 0)</li>
                                </ul>
                                @Html.ValidationMessageFor(model => model.Resource.IsDrugMonograph)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.ListPrice)</td>
                            <td class="field">
                                @Html.EditorFor(x => x.Resource.ListPrice)
                                @Html.ValidationMessageFor(model => model.Resource.ListPrice)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.BundlePrice3)</td>
                            <td class="field">
                                @Html.EditorFor(x => x.Resource.BundlePrice3)
                                @Html.ValidationMessageFor(model => model.Resource.BundlePrice3)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.IsFreeResource)</td>
                            <td class="field">
                                @Html.EditorFor(x => x.Resource.IsFreeResource)
                                @Html.ValidationMessageFor(model => model.Resource.IsFreeResource)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.NotSaleable)</td>
                            <td class="field">
                                @Html.EditorFor(x => x.Resource.NotSaleable)
                                @Html.ValidationMessageFor(model => model.Resource.NotSaleable)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.ExcludeFromAutoArchive)</td>
                            <td class="field">
                                @Html.EditorFor(x => x.Resource.ExcludeFromAutoArchive)
                                @Html.ValidationMessageFor(model => model.Resource.ExcludeFromAutoArchive)
                            </td>
                        </tr>    

                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.Authors)</td>
                            <td class="field">
                                @Html.TextBoxCustom(x => x.Resource.Authors, "input-full", Model.IsEditable("Authors"))
                                @Html.ValidationMessageFor(model => model.Resource.Authors)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.AdditionalContributors)</td>
                            <td class="field">@Html.TextBoxCustom(x => x.Resource.AdditionalContributors, "input-full")</td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.Affiliation)</td>
                            <td class="field">
                                @Html.TextBoxCustom(x => x.Resource.Affiliation, "input-full", Model.IsEditable("Affiliation"))
                                @Html.ValidationMessageFor(model => model.Resource.Affiliation)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.PublisherId)</td>
                            <td class="field">
                                @if (string.IsNullOrWhiteSpace(Model.PublisherDisplayText))
                                {
                                    @Html.DropDownCustom(x => x.Resource.PublisherId, Model.PublishersSelectList, "input-large", Model.IsEditable("PublisherId"))
                                }
                                else
                                {
                                    @Html.Raw(Model.PublisherDisplayText)
                                }
                                
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.PublicationDate)</td>
                            <td class="field">@Html.TextBoxFor(x => x.Resource.PublicationDateYear)&nbsp;&nbsp;&nbsp;&nbsp;Year only</td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(model => model.Resource.DoodyReview)</td>
                            <td class="field">
                                <ul>
                                    <li>Yes @Html.RadioButtonFor(x => x.Resource.DoodyReview, 1)</li>
                                    <li>No @Html.RadioButtonFor(x => x.Resource.DoodyReview, 0)</li>
                                </ul>
                                @Html.ValidationMessageFor(model => model.Resource.DoodyReview)
                            </td>
                        </tr>                        
                        <tr>
                            <td class="label">@Html.LabelFor(model => model.Resource.ContainsVideo)</td>
                            <td class="field">
                                <ul>
                                    <li>No @Html.RadioButtonFor(x => x.Resource.ContainsVideo, 0) </li>
                                    <li>R2 Hosted @Html.RadioButtonFor(x => x.Resource.ContainsVideo, 1) </li>
                                    <li>Ooyala Hosted @Html.RadioButtonFor(x => x.Resource.ContainsVideo, 2)</li>
                                </ul>
                                @Html.ValidationMessageFor(model => model.Resource.ContainsVideo)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.Isbn10)</td>
                            <td class="field">
                                @Html.TextBoxCustom(x => x.Resource.Isbn10, Model.IsEditable("Isbn10"))
                                @Html.ValidationMessageFor(model => model.Resource.Isbn10)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.Isbn13)</td>
                            <td class="field">
                                @Html.TextBoxCustom(x => x.Resource.Isbn13, Model.IsEditable("Isbn13"))
                                @Html.ValidationMessageFor(model => model.Resource.Isbn13)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.EIsbn)</td>
                            <td class="field">
                                @Html.EditorFor(x => x.Resource.EIsbn)
                                @Html.ValidationMessageFor(model => model.Resource.EIsbn)
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.NlmCall)</td>
                            <td class="field">@Html.TextBoxCustom(x => x.Resource.NlmCall, "input-full")</td>
                        </tr>   
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.Edition)</td>
                            <td class="field">@Html.EditorFor(x => x.Resource.Edition)</td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.PracticeAreaSelectListItems)</td>
                            <td class="field" >
                                <table>
                                    <tr>
                                        <td rowspan="2">@Html.ListBoxCustom(x => x.PracticeAreaSelectListItems, Model.PracticeAreaSelectListItems, "field-assignable")</td>
                                        <td><a class="btn btn-medium" id="add-practice-area"><span>Assign &gt;&gt;</span></a></td>
                                        <td rowspan="2">@Html.ListBoxCustom(x => x.PracticeAreaSelected, Model.SelectedPracticeAreasSelectListItems, "field-assignable")</td>
                                    </tr>
                                    <tr>
                                        <td><a class="btn btn-medium" id="remove-practice-area"><span>&lt;&lt; Remove</span></a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.SpecialtiesSelectListItems)</td>
                            <td class="field">
                                <table>
                                    <tr>
                                        <td rowspan="2">@Html.ListBoxCustom(x => x.SpecialtiesSelectListItems, Model.SpecialtiesSelectListItems, "field-assignable")</td>
                                        <td><a class="btn btn-medium" id="add-specialties"><span>Assign &gt;&gt;</span></a></td>
                                        <td rowspan="2">@Html.ListBoxCustom(x => x.SpecialtiesSelected, Model.SelectedSpecialtiesSelectListItems, "field-assignable")</td>
                                    </tr>
                                    <tr>
                                        <td><a class="btn btn-medium" id="remove-specialties"><span>&lt;&lt; Remove</span></a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.CollectionsSelectListItems)</td>
                            <td class="field">
                                <table>
                                    <tr>
                                        <td rowspan="2">@Html.ListBoxCustom(x => x.CollectionsSelectListItems, Model.CollectionsSelectListItems, "field-assignable")</td>
                                        <td><a class="btn btn-medium" id="add-collections"><span>Assign &gt;&gt;</span></a></td>
                                        <td rowspan="2">@Html.ListBoxCustom(x => x.CollectionsSelected, Model.SelectedCollectionsSelectListItems, "field-assignable")</td>
                                    </tr>
                                    <tr>
                                        <td><a class="btn btn-medium" id="remove-collections"><span>&lt;&lt; Remove</span></a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.SpecialsSelectListItems)</td>
                            <td class="field">
                                <table>
                                    <tr>
                                        <td rowspan="2">@Html.ListBoxCustom(x => x.SpecialsSelectListItems, Model.SpecialsSelectListItems, "field-assignable")</td>
                                        <td><a class="btn btn-medium" id="add-specials"><span>Assign &gt;&gt;</span></a></td>
                                        <td rowspan="2">@Html.ListBoxCustom(x => x.SpecialsSelected, Model.SelectedSpecialsSelectListItems, "field-assignable")</td>
                                    </tr>
                                    <tr>
                                        <td><a class="btn btn-medium" id="remove-specials"><span>&lt;&lt; Remove</span></a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.ResourceDescription)</td>
                            <td class="field">
                                @RichTextHelper.TextArea_Editor(Html, "Resource_ResourceDescription", Model.Resource.ResourceDescription, "save")
                                @*@Html.TextAreaFor(x => x.Resource.ResourceDescription)
                                @Html.ValidationMessageFor(model => model.Resource.ResourceDescription)*@
                            </td>
                        </tr>
                        <tr>
                            <td class="label">@Html.LabelFor(x => x.Resource.PageCount)</td>
                            <td class="field">@Html.TextBoxFor(x => x.Resource.PageCount)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section JsDocumentReady
{
    $('#add-practice-area').click(function() {
        return !$('#PracticeAreaSelectListItems option:selected').appendTo('#PracticeAreaSelected');
    });
    $('#remove-practice-area').click(function() {
        return !$('#PracticeAreaSelected option:selected').appendTo('#PracticeAreaSelectListItems');
    });
    
    $('#add-specialties').click(function() {
        return !$('#SpecialtiesSelectListItems option:selected').appendTo('#SpecialtiesSelected');
    });
    $('#remove-specialties').click(function() {
        return !$('#SpecialtiesSelected option:selected').appendTo('#SpecialtiesSelectListItems');
    });
    
    $('#add-collections').click(function() {
        return !$('#CollectionsSelectListItems option:selected').appendTo('#CollectionsSelected');
    });
    $('#remove-collections').click(function() {
        return !$('#CollectionsSelected option:selected').appendTo('#CollectionsSelectListItems');
    });
    
    

    $('#add-specials').click(function() {
        return $('#SpecialsSelectListItems option:selected').appendTo('#SpecialsSelected');
    });
    $('#remove-specials').click(function() {
        return $('#SpecialsSelected option:selected').appendTo('#SpecialsSelectListItems');
    });
    
    
    

    $("#save").click(function() {
        $("#PracticeAreaSelected option").each(function() {
            $(this).attr("selected", "selected");
        });
        $("#SpecialtiesSelected option").each(function() {
            $(this).attr("selected", "selected");
        });
        $("#CollectionsSelected option").each(function() {
            $(this).attr("selected", "selected");
        });
        $("#SpecialsSelected option").each(function() {
            $(this).attr("selected", "selected");
        });
    });
}