@model R2V2.Web.Areas.Admin.Models.Cart.BulkAddToCart
@{
	ViewBag.Title = "PDA Add";
	ViewBag.BodyCssClass = "admin";
	Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="content collection-manage">
    <div class="modal-header">
        <h1>Bulk Add Title to Cart</h1>
        <a class="close" data-dismiss="modal" href="#">Close</a>
    </div>
	
	<div class="modal-body">
		<div id="bulk-add-area">
		@if (!string.IsNullOrWhiteSpace(Model.IsbnsNotFound))
		{
			<h3>The following ISBNs are invalid or not available:</h3>
			<p id="bulk-add-not-found">@Html.DisplayFor(model => model.IsbnsNotFound)</p>
		}
		@if (Model.ResourceCount > 0)
		{
			<h3>A single license will be added to the cart for each of the following resources:</h3>
			<ul>		
				@foreach (var resource in Model.Resources)
				{
                    @PurchaseHelper.GetBulkDetails(resource)
				}
			</ul>
		    <p><strong>Resource Count: @Html.DisplayFor(model => model.ResourceCount), License Count: @Html.DisplayFor(model => model.LicenseCount), Total Cost: @Html.DisplayFor(model => model.Total)</strong></p>
		}
		else
		{
			<h3>Sorry, none of the resources selected are eligible to be added to your cart at this time.</h3>
		}

		@if (Model.ExcludedResourceCount > 0)
		{
			<h3>The following titles are not eligible for purchasing or are already in your cart:</h3>
			<ul>		
				@foreach (var resource in Model.ExcludedResources)
				{
				    @PurchaseHelper.GetBulkDetails(resource)

				}
			</ul>
			<p><strong>Excluded Resource Count: @Html.DisplayFor(model => model.ExcludedResourceCount)</strong></p>
		}
		</div>
		<br />
  
		@using (Html.BeginForm("BulkAddToCart", "Cart"))
		{
			@Html.Hidden("BulkAddToCart", "yes")
			@Html.Hidden("Resources", Model.ResourceQuery.Resources)
			@Html.Partial("../CollectionManagement/_HiddenQueryFields", Model.ResourceQuery)
            @Html.Hidden("ParentPageTitle", Model.ParentPageTitle)
            
			<div class="actions">
				<a class="cancel" data-dismiss="modal" href="#">Cancel</a>
				@if (Model.ResourceCount > 0)
				{
					<button class="btn-medium" type="submit"><span>Add All to Cart</span></button>
				}
			</div>
		}
	</div>
</div>

@section JsDocumentReady
{
    new R2V2.Admin.IFrameModal({ 
        $dismiss: $('a[data-dismiss="modal"]'), 
        parent: window.parent 
    });
}